canvas {
  background-color: black;
  box-shadow: 2px 2px 10px 2px black;
}

#divCanvas {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

#rotateOverlay {
  display: none;
  position: absolute;
  z-index: 9999;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  text-align: center;
}

body {
  color: white;
  background-image: url("img/3. Background/Layers/5. Water/D1.png");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

h1 {
  font-size: 64px;
}

@media screen and (orientation: portrait) and (max-width: 720px) {
  #rotateOverlay {
    display: flex;
  }

  canvas {
    display: none;
  }

  #divCanvas {
    display: none;
  }

  #titleScreen {
    display: none;
  }

  #winEndScreen {
    display: none;
  }

  #looseEndScreen {
    display: none;
  }
}

@media screen and (orientation: landscape) and (max-height: 720px) {
  h1 {
    display: none;
  }

  #titleScreen {
    width: 100%;
    height: 100%;
  }

  canvas {
    max-height: 100vh;
  }
}

#pauseButtonContainer{
  display: flex;
  justify-content: end;
  align-items: center;
}

#pauseButton{
  position: absolute;
  top: 13%;
  right: 3%;
  height: 50px;
  width: 50px;
  filter: contrast(1.5);
}

#pauseButton:hover{
  filter: contrast(1);
  cursor: pointer;
}

#pauseOverlay {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.8);
  color: white;
  font-size: 2em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  img{
    height: 75px;
  }
}

#resumeButton:hover{
  cursor: pointer;
  filter: contrast(1.2);
}

#muteButton {
  filter: brightness(100);
}

#muteButton:hover {
  filter: drop-shadow(0 0 5px white) brightness(120%);
  cursor: pointer;
  
}

#touchOverlay {
  display: none;
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
  pointer-events: none;
}

.touch-btn {
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 50%;
  font-size: 1.5em;
  padding: 15px;
  height: 58px;
  width: 58px;
  pointer-events: auto;
  box-shadow: 0 0 10px #000;
  transition: background 0.2s;
}

#touchLeft   { left: 5%;  bottom: 17%; }
#touchRight  { left: 20%;  bottom: 17%; }
#touchUp     { left: 13%; bottom: 29%; }
#touchDown   { left: 13%; bottom: 5%; }
#touchAttack { right: 20%; bottom: 5%; }
#touchBubble { right: 7%; bottom: 17%; }

@media screen and (max-width: 900px) {
  #touchOverlay {
    display: block;
  }
}
