@import './fonts/fonts.css';

canvas {
  background-color: black;
  box-shadow: 2px 2px 10px 2px black;
}

html {
  height: 100%;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#divCanvas {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

#rotateOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  text-align: center;
  margin: 0;
  padding: 25px;
  box-sizing: border-box;
}

body {
  color: white;
  background-image: url("img/3. Background/Layers/5. Water/D1.png");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1 {
  font-size: 64px;
}

@media screen and (orientation: portrait) and (max-width: 720px) {
  #rotateOverlay {
    display: flex;
  }

  canvas {
    display: none;
  }

  #divCanvas {
    display: none;
  }

  #titleScreen {
    display: none;
  }

  #winEndScreen {
    display: none;
  }

  #looseEndScreen {
    display: none;
  }
}

@media screen and (orientation: landscape) and (max-height: 720px) {
  h1 {
    display: none;
  }

  #titleScreen {
    width: 100%;
    height: 100%;
  }

  canvas {
    max-height: 100vh;
  }
}

#pauseButtonContainer {
  display: flex;
  justify-content: end;
  align-items: center;
}

#pauseButton {
  position: absolute;
  top: 13%;
  right: 3%;
  height: 50px;
  width: 50px;
  filter: contrast(1.5);
}

#pauseButton:hover {
  filter: contrast(1);
  cursor: pointer;
}

.pause-overlay-content{
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (max-height: 480px) {
    p{
      margin: 0;
    }
  }
}

#controllerButton{
  position: absolute;
  top: 14%;
  left: 3%;
  height: 40px;
  filter: invert(1) brightness(1.5);
}

#controllerButton:hover {
  filter: invert(0);
  cursor: pointer;
}

#pauseOverlay {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 2em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  img {
    height: 75px;
  }
}

#resumeButton:hover {
  cursor: pointer;
  filter: contrast(1.2);
}

#muteButton {
  filter: brightness(100);
}

#muteButton:hover {
  filter: drop-shadow(0 0 5px white) brightness(120%);
  cursor: pointer;
}

#touchOverlay {
  display: none; /* Standardmäßig ausgeblendet */
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
  pointer-events: none;
}

.touch-btn {
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 50%;
  font-size: 1.5em;
  padding: 15px;
  height: 58px;
  width: 58px;
  pointer-events: auto;
  box-shadow: 0 0 10px #000;
  transition: background 0.2s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#touchLeft {
  left: 3%;
  bottom: 17%;
}
#touchRight {
  left: 17%;
  bottom: 17%;
}
#touchUp {
  left: 10.5%;
  bottom: 26%;
}
#touchDown {
  left: 10%;
  bottom: 7%;
}
#touchAttack {
  right: 20%;
  bottom: 5%;
}
#touchBubble {
  right: 7%;
  bottom: 17%;
}

@media screen and (max-width: 900px) {
  #touchOverlay {
    display: block;
  }

  #pauseButton {
    position: absolute;
    top: 15%;
    right: 3%;
  }
}

.legal-notice-overlay {
  display: none;
  position: fixed;
  z-index: 10001;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.85);
  justify-content: center;
  align-items: center;
}

.legal-notice-content {
  background: #3c52ad;
  color: white;
  padding: 40px 30px;
  border-radius: 16px;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 0 20px #000;
  overflow-y: scroll;
  height: 500px;
  padding: 15px;
  h1{
    color: #fcee21;
  }
  h2{
    color: #fcee21;
  }
  @media (max-height: 550px) {
    height: 90%;
  }
}

.legal-notice-content::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #3c52ad;
}

.legal-notice-content::-webkit-scrollbar
{
	border-radius: 10px;
	width: 10px;
	background-color: #fcee21;
}

.legal-notice-content::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #fcee21;
}

.legal-notice {
  font-size: 1em;
}

.legal-notice:hover {
  cursor: pointer;
  text-decoration: underline;
}

#startScreenLegalNotice {
  margin-top: 50px;
}

.legal-notice-content button {
  font-family: Sharkie, sans-serif;
  text-shadow: #000 1px 1px 2px;
  font-size: 2rem;
  margin-top: 20px;
  padding: 10px 30px;
  border: none;
  border-radius: 8px;
  background: #fcee21;
  color: #ffffff;
  cursor: pointer;
}
