#looseEndScreen {
  display: none;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 165px;
  left: 0;
  right: 0;
  text-align: center;
  width: 720px;
  height: 480px;
  background-color: rgba(0, 0, 0, 0.8);
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.7s ease;
}

#winEndScreen {
  display: none;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 165px;
  left: 0;
  right: 0;
  text-align: center;
  width: 720px;
  height: 480px;
  background-image: url("../img/6.Botones/Tittles/You win/Mesa-de-trabajo-1.png");
  background-position: center;
  background-size: auto 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.7s ease;
}

#winEndScreen.active {
  display: flex;
  opacity: 1;
  pointer-events: auto;
}

#looseEndScreen.active {
  display: flex;
  opacity: 1;
  pointer-events: auto;
}

#deadSharkie img {
  height: 200px;
}

#gameOverLine img {
  height: 75px;
}

#tryAgainLoose img {
  height: 75px;
}

#deadSharkie {
  height: 100px;
}

#gameOverLine {
  height: 80px;
}

#tryAgainLoose {
  height: 80px;
}

#tryAgainLoose img:hover {
  cursor: pointer;
  height: 70px;
}

#tryAgainWin {
  width: 720px;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: end;
}

#tryAgainWin img {
  height: 75px;
  margin-bottom: 55px;
}

#tryAgainWin img:hover {
  cursor: pointer;
  height: 70px;
}

.try-again-loose {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;  
  transition: opacity 0.7s ease;
}
.try-again-loose.visible {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.try-again-win {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;  
  transition: opacity 0.7s ease;
}
.try-again-win.visible {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}